<div class="flex text-white bg-purple-600 p-2 flex justify-between">
    <NavLink href="/" class="font-bold text-xl">Demo</NavLink>
    <div class="flex gap-4 items-center">
        <NavLink href="/">Home</NavLink>
        <NavLink href="/contact">Contact</NavLink>
        <NavLink href="/counter">Counter</NavLink>
        <NavLink href="/weather">Weather</NavLink>
    </div>
</div>